body
{
  background-color: #FFFFFF;
  background-image: none;}
.zoneHeader1
{
  background-color: transparent;
  background-image: none;}
.zoneHeader1 .container_12 > DIV
{}
.zoneHeader2
{background-image: none;}
.zoneHeader2 .container_12 > DIV
{}
.zoneHeader3
{
  background-color: #FFFFFF;}
.zoneHeader3 .container_12 > DIV
{
  background-color: #FFFFFF;}
.zoneHeader4
{
background-color: #E6E6E6;}
.zoneHeader4 .container_12 > DIV
{}
.zoneContent
{
  background-color: transparent;}
.zoneContent .container_12 > DIV
{
  background-color: transparent;}
.zoneFooter1
{
  background-color: #FFFFFF;}
.zoneFooter1 .container_12 > DIV
{
  background-color: #FFFFFF;}
.zoneFooter2
{
  background-color: #223D61;}
.zoneFooter2 .container_12 > DIV
{}
.zoneFooter3
{
  background-color: #333333;}
.zoneFooter3 .container_12 > DIV
{}






BODY
{}
.contStyleNarrowLineHeight
{}
A, A:link, A:active, A:visited
{color: #61A9D2;
}
A:hover
{color: #B5C86B;
}
H1
{font-weight: normal;}
H2
{font-weight: normal;}
H3
{font-weight: normal;}
H4
{font-weight: normal;}
.contStyleCaption
{}
.quotedText
{}
.contStyleSmallerText
{}


.WaGadgetRecentBlogPosts ul li .date span,
.WaGadgetForumUpdates ul li .date span,
.WaGadgetUpcomingEvents ul li .date .dateonly
{}

.WaGadgetUpcomingEvents ul li .date .location
{}

.WaGadgetRecentBlogPosts ul li .author a,
.WaGadgetRecentBlogPosts ul li .author span,
.WaGadgetForumUpdates ul li .author span,
.WaGadgetForumUpdates ul li .author a
{}

.WaGadgetEventsStateList h3.sectionTitle
{}







.generalFieldsContainer .fieldSubContainer .fieldLabel
{font-weight: normal;}
.generalFormContainer .criteriaListItem .valueContainer .fieldContainer .label,
.fieldSubContainer .fieldBody
{}
.fieldSubContainer.singleStringContainer .fieldBody [class='textLine'],
.groupContainer .fieldSubContainer.radioGroupContainer .fieldBody [class='textLine'],
.groupContainer .fieldSubContainer.checkboxGroupContainer .fieldBody [class='textLine'],
.calculatedExtraChargeContainer .fieldSubContainer .fieldBody input + span
{}
.captionOuterContainer
{}
.captionOuterContainer .captionContainer .fieldBody h4
{}
.fieldSubContainer .fieldBody > .typeInstruction,
.fieldSubContainer .fieldBody .fieldItem span.label .typeInstruction
{color: #3BABBA;
}
.WaGadgetBlogStateEditPost .boxHeaderOuterContainer .boxHeaderContainer h4.boxHeaderTitle,
.WaGadgetBlogStateAddPost .boxHeaderOuterContainer .boxHeaderContainer h4.boxHeaderTitle,
.WaGadgetBlogStateEditPost .boxBodyOuterContainer .generalFieldsContainer .mandatoryFieldsTitle,
.WaGadgetBlogStateAddPost .boxBodyOuterContainer .generalFieldsContainer .mandatoryFieldsTitle,
.WaGadgetForum .forumEditEntryBoxContainer .boxHeaderOuterContainer h4.boxHeaderTitle,
.WaGadgetForum .forumEditEntryBoxContainer .boxBodyOuterContainer .mandatoryFieldsTitle,
.formTitleOuterContainer .formTitleContainer .inner h3.formTitle,
.formTitleOuterContainer .formTitleContainer .inner .mandatoryFieldsTitle strong,
.WaGadgetEmailMember .mandatoryFieldsTitle
{color: #3BABBA;
}
.WaGadgetBlogStateEditPost .boxHeaderOuterContainer,
.WaGadgetBlogStateAddPost .boxHeaderOuterContainer,
.WaGadgetForum .forumEditEntryBoxContainer .boxHeaderOuterContainer,
.formTitleOuterContainer .formTitleContainer,
.WaGadgetEmailMember .mandatoryFieldsTitle
{
	border-bottom-color: #3BABBA;
}







.genericListTable thead th,
.membersTable thead th
{}

.genericListTable tbody td,
.genericListTable tbody td .memberValue h5,
.membersTable tbody td,
.membersTable tbody td .memberValue h5
{}
.genericListTable tbody td,
.membersTable tbody td
{}

.genericListTable tr.hover td,
.membersTable tr.hover td
{}

.genericListTable tbody td a,
.genericListTable tbody td .memberValue h5 a,
.membersTable tbody td a,
.membersTable tbody td .memberValue h5 a
{}

.genericListTable tbody td a:hover,
.genericListTable tbody td .memberValue h5 a:hover,
.membersTable tbody td a:hover,
.membersTable tbody td .memberValue h5 a:hover
{}








.WaGadgetBlog .boxBodyInfoOuterContainer h5 .postedByLabel,
.WaGadgetBlog .boxBodyInfoOuterContainer h5 .postedByLink,
.WaGadgetBlog ul.blogCommentsList li.blogCommentItem .blogComment .commentViewContainer .boxHeaderOuterContainer h5 .postedByComment
{font-style: italic;}

.WaGadgetBlog .boxBodyInfoOuterContainer h5 .postedOn,
.WaGadgetBlog ul.blogCommentsList li.blogCommentItem .blogComment .commentViewContainer .boxHeaderOuterContainer h5 span:first-child
{}








.WaGadgetForumStateList h5
{}

.WaGadgetForumStateList .forumListContainer .boxHeaderOuterContainer table td h4,
.WaGadgetForum #idTopicListContainer .boxHeaderOuterContainer table td.threadTD div.thread h4.boxHeaderTitle,
.WaGadgetForum #idTopicListContainer .boxHeaderOuterContainer table td.lastReplyTD .lastReply h4.boxHeaderTitle,
.WaGadgetForum #idTopicListContainer .boxHeaderOuterContainer table td.repliesCountTD .repliesCount .boxHeaderTitle
{}

.WaGadgetForumStateList .forumListContainer .boxBodyOuterContainer table.forumListTable tr.forumListRow td,
.WaGadgetForum #idTopicListContainer .boxBodyOuterContainer table td
{}

.WaGadgetForum #idTopicListContainer .boxBodyOuterContainer table tr.topicListRow.highlight td
{}

.WaGadgetForumStateList .forumListContainer .boxBodyOuterContainer table.forumListTable tr.forumListRow td a,
.WaGadgetForum #idTopicListContainer .boxBodyOuterContainer table td a
{}

.WaGadgetForumStateList .forumListContainer .boxBodyOuterContainer table.forumListTable tr.forumListRow td a:hover,
.WaGadgetForum #idTopicListContainer .boxBodyOuterContainer table td a:hover
{}

.WaGadgetForumStateList .forumListContainer .boxBodyOuterContainer table.forumListTable tr.forumListRow td.lastReplyTD .lastReply span,
.WaGadgetForum #idTopicListContainer .boxBodyOuterContainer table tr.topicListRow td.lastReplyTD .lastReply span,
.WaGadgetForumStateMessageList .messageListOuterContainer ul.boxesList li.boxesListItem .boxBodyOuterContainer table.forumMessageTable td.left .boxBodyInfoOuterContainer .boxBodyInfoContainer .inner
{}
.WaGadgetForumStateList .forumListContainer .boxBodyOuterContainer table.forumListTable tr.forumListRow td.lastReplyTD .lastReply a:first-child,
.WaGadgetForum #idTopicListContainer .boxBodyOuterContainer table tr.topicListRow td.lastReplyTD .lastReply a,
.WaGadgetForumStateMessageList .messageListOuterContainer ul.boxesList li.boxesListItem .boxHeaderOuterContainer table.forumMessageHeaderTable td.forumMessageHeaderInfoContainer .forumMessageHeaderInfo span
{}







.WaGadgetLoginForm,
.WaGadgetLoginButton
{}

.WaGadgetLoginForm .loginContainerForm.orientationHorizontal form .loginUserName .loginUserNameTextBox input.emailTextBoxControl,
.WaGadgetLoginForm .loginContainerForm.orientationHorizontal form .loginPassword .loginPasswordTextBox input.passwordTextBoxControl,
.WaGadgetLoginForm .loginContainerForm.orientationVertical form .loginUserName .loginUserNameTextBox input.emailTextBoxControl,
.WaGadgetLoginForm .loginContainerForm.orientationVertical form .loginPassword .loginPasswordTextBox input.passwordTextBoxControl
{}
.WaGadgetLoginForm .loginContainerForm.orientationHorizontal form .loginUserName .loginUserNameTextBox,
.WaGadgetLoginForm .loginContainerForm.orientationHorizontal form .loginPassword .loginPasswordTextBox,
.WaGadgetLoginForm .loginContainerForm.orientationVertical form .loginUserName .loginUserNameTextBox,
.WaGadgetLoginForm .loginContainerForm.orientationVertical form .loginPassword .loginPasswordTextBox
{}

.WaGadgetLoginForm .loginContainerForm[class*=orientation] form .loginUserName .loginUserNameLabel,
.WaGadgetLoginForm .loginContainerForm[class*=orientation] form .loginPassword .loginPasswordLabel
{}

.WaGadgetLoginForm a,
.WaGadgetLoginForm a:link,
.WaGadgetLoginForm a:visited,
.WaGadgetLoginForm a:active,
.WaGadgetLoginButton a,
.WaGadgetLoginButton a:link,
.WaGadgetLoginButton a:visited,
.WaGadgetLoginButton a:active,
.WaGadgetLoginForm .loginContainerForm[class*=orientation] form .loginActionRememberMe label,
.WaGadgetLoginForm .loginContainerAuthenticated[class*=orientation] .loggedAction input[type=submit]
{}
.WaGadgetLoginForm a:hover,
.WaGadgetLoginButton a:hover,
.WaGadgetLoginForm .loginContainerForm[class*=orientation] form .loginActionRememberMe label:hover,
.WaGadgetLoginForm .loginContainerAuthenticated[class*=orientation] .loggedAction input[type=submit]:hover
{}


.WaGadgetLoginForm .loginContainerForm[class*=orientation] form .loginAction input.loginButton,
.WaGadgetLoginButton .loginBoxLinkContainer .loginBoxLinkButton
{}
.WaGadgetLoginForm .loginContainerForm[class*=orientation] form .loginAction input.loginButton:hover,
.WaGadgetLoginButton .loginBoxLinkContainer .loginBoxLinkButton:hover
{}










a.stylizedButton.buttonStyle001
{}

a.stylizedButton.buttonStyle001:hover
{}

a.stylizedButton.buttonStyle002
{}
a.stylizedButton.buttonStyle002:hover
{}

a.stylizedButton.buttonStyle003
{}
a.stylizedButton.buttonStyle003:hover
{}






.WaGadgetBreadcrumbs ul li
{}
.WaGadgetBreadcrumbs ul li + li:before
{}
.WaGadgetBreadcrumbs ul li a,
.WaGadgetBreadcrumbs ul li a:link,
.WaGadgetBreadcrumbs ul li a:visited,
.WaGadgetBreadcrumbs ul li a:active
{}
.WaGadgetBreadcrumbs ul li a:hover
{}
.WaGadgetBreadcrumbs ul li.last
{}



.WaGadgetNavigationLinks a,
.WaGadgetNavigationLinks a:link,
.WaGadgetNavigationLinks a:visited,
.WaGadgetNavigationLinks a:active
{}
.WaGadgetNavigationLinks a:hover
{}



/* Horizontal menu */
/* Blue style */

.WaGadgetMenuHorizontal.menuStyle001 .menuBackground
{}

.WaGadgetMenuHorizontal.menuStyle001 .menuInner ul.firstLevel > li > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle001 .menuInner ul.firstLevel > li > .item:hover > a,
.WaGadgetMenuHorizontal.menuStyle001 .menuInner ul.firstLevel > li.sel > .item:hover > a
{}

.WaGadgetMenuHorizontal.menuStyle001 .menuInner ul.firstLevel > li.sel > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle001 .menuInner ul.firstLevel > li.sel > .item:hover > a
{}

.WaGadgetMenuHorizontal.menuStyle001 .menuInner ul.secondLevel > li > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle001 .menuInner ul ul.secondLevel > li > .item:hover > a,
.WaGadgetMenuHorizontal.menuStyle001 .menuInner ul ul.secondLevel > li:hover > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle001 .menuInner ul.secondLevel > li.sel > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle001 .menuInner ul.secondLevel > li.sel > .item:hover > a,
.WaGadgetMenuHorizontal.menuStyle001 .menuInner ul.secondLevel > li.sel:hover > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle001 .menuInner ul ul.secondLevel > li
{}

/* Black style */

.WaGadgetMenuHorizontal.menuStyle002 .menuBackground
{}

.WaGadgetMenuHorizontal.menuStyle002 .menuInner ul.firstLevel > li > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle002 .menuInner ul.firstLevel > li > .item:hover > a,
.WaGadgetMenuHorizontal.menuStyle002 .menuInner ul.firstLevel > li.sel > .item:hover > a
{}

.WaGadgetMenuHorizontal.menuStyle002 .menuInner ul.firstLevel > li.sel > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle002 .menuInner ul.firstLevel > li.sel > .item:hover > a
{}

.WaGadgetMenuHorizontal.menuStyle002 .menuInner ul.secondLevel > li > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle002 .menuInner ul ul.secondLevel > li > .item:hover > a,
.WaGadgetMenuHorizontal.menuStyle002 .menuInner ul ul.secondLevel > li:hover > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle002 .menuInner ul.secondLevel > li.sel > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle002 .menuInner ul.secondLevel > li.sel > .item:hover > a,
.WaGadgetMenuHorizontal.menuStyle002 .menuInner ul.secondLevel > li.sel:hover > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle002 .menuInner ul ul.secondLevel > li
{}

/* Gray style */

.WaGadgetMenuHorizontal.menuStyle003 .menuBackground
{}

.WaGadgetMenuHorizontal.menuStyle003 .menuInner ul.firstLevel > li > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle003 .menuInner ul.firstLevel > li > .item:hover > a,
.WaGadgetMenuHorizontal.menuStyle003 .menuInner ul.firstLevel > li.sel > .item:hover > a
{}

.WaGadgetMenuHorizontal.menuStyle003 .menuInner ul.firstLevel > li.sel > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle003 .menuInner ul.firstLevel > li.sel > .item:hover > a
{}

.WaGadgetMenuHorizontal.menuStyle003 .menuInner ul.secondLevel > li > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle003 .menuInner ul ul.secondLevel > li > .item:hover > a,
.WaGadgetMenuHorizontal.menuStyle003 .menuInner ul ul.secondLevel > li:hover > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle003 .menuInner ul.secondLevel > li.sel > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle003 .menuInner ul.secondLevel > li.sel > .item:hover > a,
.WaGadgetMenuHorizontal.menuStyle003 .menuInner ul.secondLevel > li.sel:hover > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle003 .menuInner ul ul.secondLevel > li
{}


/* Dark blue */

.WaGadgetMenuHorizontal.menuStyle004 .menuBackground
{}

.WaGadgetMenuHorizontal.menuStyle004 .menuInner ul.firstLevel > li > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle004 .menuInner ul.firstLevel > li > .item:hover > a,
.WaGadgetMenuHorizontal.menuStyle004 .menuInner ul.firstLevel > li.sel > .item:hover > a
{}

.WaGadgetMenuHorizontal.menuStyle004 .menuInner ul.firstLevel > li.sel > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle004 .menuInner ul.firstLevel > li.sel > .item:hover > a
{}

.WaGadgetMenuHorizontal.menuStyle004 .menuInner ul.secondLevel > li > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle004 .menuInner ul ul.secondLevel > li > .item:hover > a,
.WaGadgetMenuHorizontal.menuStyle004 .menuInner ul ul.secondLevel > li:hover > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle004 .menuInner ul.secondLevel > li.sel > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle004 .menuInner ul.secondLevel > li.sel > .item:hover > a,
.WaGadgetMenuHorizontal.menuStyle004 .menuInner ul.secondLevel > li.sel:hover > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle004 .menuInner ul ul.secondLevel > li
{}


/* Sky */

.WaGadgetMenuHorizontal.menuStyle005 .menuBackground
{}

.WaGadgetMenuHorizontal.menuStyle005 .menuInner ul.firstLevel > li > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle005 .menuInner ul.firstLevel > li > .item:hover > a,
.WaGadgetMenuHorizontal.menuStyle005 .menuInner ul.firstLevel > li.sel > .item:hover > a
{}

.WaGadgetMenuHorizontal.menuStyle005 .menuInner ul.firstLevel > li.sel > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle005 .menuInner ul.firstLevel > li.sel > .item:hover > a
{}

.WaGadgetMenuHorizontal.menuStyle005 .menuInner ul.secondLevel > li > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle005 .menuInner ul ul.secondLevel > li > .item:hover > a,
.WaGadgetMenuHorizontal.menuStyle005 .menuInner ul ul.secondLevel > li:hover > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle005 .menuInner ul.secondLevel > li.sel > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle005 .menuInner ul.secondLevel > li.sel > .item:hover > a,
.WaGadgetMenuHorizontal.menuStyle005 .menuInner ul.secondLevel > li.sel:hover > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle005 .menuInner ul ul.secondLevel > li
{}


/* Fire */

.WaGadgetMenuHorizontal.menuStyle006 .menuBackground
{}

.WaGadgetMenuHorizontal.menuStyle006 .menuInner ul.firstLevel > li > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle006 .menuInner ul.firstLevel > li > .item:hover > a,
.WaGadgetMenuHorizontal.menuStyle006 .menuInner ul.firstLevel > li.sel > .item:hover > a
{}

.WaGadgetMenuHorizontal.menuStyle006 .menuInner ul.firstLevel > li.sel > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle006 .menuInner ul.firstLevel > li.sel > .item:hover > a
{}

.WaGadgetMenuHorizontal.menuStyle006 .menuInner ul.secondLevel > li > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle006 .menuInner ul ul.secondLevel > li > .item:hover > a,
.WaGadgetMenuHorizontal.menuStyle006 .menuInner ul ul.secondLevel > li:hover > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle006 .menuInner ul.secondLevel > li.sel > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle006 .menuInner ul.secondLevel > li.sel > .item:hover > a,
.WaGadgetMenuHorizontal.menuStyle006 .menuInner ul.secondLevel > li.sel:hover > .item > a
{}

.WaGadgetMenuHorizontal.menuStyle006 .menuInner ul ul.secondLevel > li
{}